<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Itinerary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/itinerary.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="/js/itinerary.js"></script>
</head>
<body>
    <div id="content">
        <header class="page-header" id="page-header">
            <h1>Welcome to <span th:text="${castleName}"></span></h1>
        </header>
        <main class="page-content">
            <button id="download">Download Itinerary</button>
            <div th:text="${castleInfo.description}" class="castle-description"></div>
            <img th:src="@{'/images/' + ${castleName} + '.jpg'}" th:alt="'A photo of' + ${castleName}" class="castle-image">
            <h3>Departure Trip</h3>
            <ul th:each="stop : ${trip.outboundStops}">
                <li th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> via <span
                        th:text="${stop.busService}"></span> at <span th:text="${trip.outboundSchedule.departTime}"></span>
                </li>
                <li th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.outboundStops.size()}">Transfer to <span
                        th:text="${stop.busService}"></span> from <span th:text="${stop.stopInfo.name}"></span></li>
                <li th:if="${stop.sequenceNum} == ${trip.outboundStops.size()}">Arrive to <span
                        th:text="${stop.stopInfo.name}"></span> at <span
                        th:text="${trip.outboundSchedule.arriveTime}"></span></li>
                <li th:if="${stop.sequenceNum} == ${trip.returnStops.size()}"><span
                        th:text="${stop.stopInfo.instructions}"></span></li>
            </ul>
            <h3>Return Trip</h3>
            <ul th:each="stop : ${trip.returnStops}">
                <li th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> via <span
                        th:text="${stop.busService}"></span> at <span th:text="${trip.returnSchedule.departTime}"></span>
                </li>
                <li th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.returnStops.size()}">Transfer to <span
                        th:text="${stop.busService}"></span> at <span th:text="${stop.stopInfo.name}"></span></li>
                <li th:if="${stop.sequenceNum} == ${trip.returnStops.size()}">Arrive to <span
                        th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.returnSchedule.arriveTime}"></span>
                </li>
            </ul>
            <h2 th:text="${noOfVisitors} + ' visitors'" class="visitor-count"></h2>
            <h3 class="trip-price">Total Price: £<span th:text="${trip.totalPrice}"></span></h3>
        </main>
    </div>
</body>
</html>