<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your Itinerary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/itinerary.css">
</head>

<body>
  <header class="page-header" id="page-header">
    <h1>Welcome to <span th:text="${castleName}"></span></h1>
  </header>

  <main class="page-content">
    <button>Download Itinerary</button>
    <div th:text="${castleInfo.description}"></div>
    <div th:text="${noOfVisitors} + ' visitors'"></div>
    <img th:src="@{'/images/' + ${castleName} + '.jpg'}" th:alt="'A photo of' + ${castleName}">

    <h3>Departure Trip</h3>
    <ul>
      <li th:each="stop : ${trip.outboundStops}">
        <span th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> via <span th:text="${stop.busService}"></span> at <span th:text="${trip.outboundSchedule.departTime}"></span></span>
        <span th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.outboundStops.size()}">Transfer to <span th:text="${stop.busService}"></span> from <span th:text="${stop.stopInfo.name}"></span></span>
        <span th:if="${stop.sequenceNum} == ${trip.outboundStops.size()}">Arrive to <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.outboundSchedule.arriveTime}"></span></span>
      </li>
    </ul>
    <h3>Return Trip</h3>
    <ul>
      <li th:each="stop : ${trip.returnStops}">
        <span th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> via <span th:text="${stop.busService}"></span> at <span th:text="${trip.returnSchedule.departTime}"></span></span>
        <span th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.returnStops.size()}">Transfer to <span th:text="${stop.busService}"></span> at <span th:text="${stop.stopInfo.name}"></span></span>
        <span th:if="${stop.sequenceNum} == ${trip.returnStops.size()}">Arrive to <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.returnSchedule.arriveTime}"></span></span>
      </li>
    </ul>

    <h3 class="trip-price">Total Price: £<span th:text="${trip.totalPrice}"></span></h3>
  </main>

<!--  <script src="/js/itinerary.js"></script>-->
</body>
</html>