<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Output</title>
</head>
<body>
    <div>
        <div class="container">
            <h1>List of Castles</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Castle ID</th>
                    <th>Castle Name</th>
                    <th>Other Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="castle : ${castles}">
                    <td th:text="${castle.castleId}"></td>
                    <td th:text="${castle.name}"></td>
                    <td th:text="${castle.description}"></td>
                    <td th:text="${castle.entryFee}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(castles)}">
                    <td colspan="4">No castles found.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>