<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/routeSelection.css"/>
<head>
    <meta charset="UTF-8">
    <title>Castle Trip Planner - Routes</title>
</head>
<body>
<h1>Select a Travel Option</h1>
<div th:each="trip : ${roundTripList}" class="trip-section">
    <h3>Departure Trip</h3>
    <ul>
        <li th:each="stop : ${trip.outboundStops}">
            <span th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.outboundSchedule.departTime}"></span></span>
            <span th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.outboundStops.size()}">Transfer from <span th:text="${stop.stopInfo.name}"></span></span>
            <span th:if="${stop.sequenceNum} == ${trip.outboundStops.size()}">Arrive at <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.outboundSchedule.arriveTime}"></span></span>
        </li>
    </ul>
    <h3>Return Trip</h3>
    <ul>
        <li th:each="stop : ${trip.returnStops}">
            <span th:if="${stop.sequenceNum} == 1">Depart from <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.returnSchedule.departTime}"></span></span>
            <span th:if="${stop.sequenceNum} > 1 and ${stop.sequenceNum} < ${trip.returnStops.size()}">Transfer at <span th:text="${stop.stopInfo.name}"></span></span>
            <span th:if="${stop.sequenceNum} == ${trip.returnStops.size()}">Arrive at <span th:text="${stop.stopInfo.name}"></span> at <span th:text="${trip.returnSchedule.arriveTime}"></span></span>
        </li>
    </ul>

    <h3 class="price">Total Price: £<span th:text="${trip.totalPrice}"></span></h3>
    <button>Select option</button>
<!--    <a th:href="@{/itinerary(outboundId=${trip.outboundSchedule.scheduleId}, returnId=${trip.returnSchedule.scheduleId})}">Select</a>-->
</div>
</body>
</html>