<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/routeSelection.css"/>
<head>
    <meta charset="UTF-8">
    <title>Castle Trip Planner - Routes</title>
</head>
<body>
<h1>Select a Travel Option</h1>


<div th:each="trip : ${roundTripList}" class="trip-section">
    <h3>Departure Trip</h3>
    <p th:text="'Depart at: ' + ${trip.outboundSchedule.departTime}"></p>
    <p th:text="'Arrive at: ' + ${trip.outboundSchedule.arriveTime}"></p>

    <h3>Return Trip</h3>
    <p th:text="'Return at: ' + ${trip.returnSchedule.departTime}"></p>
    <p th:text="'Arrive at: ' + ${trip.returnSchedule.arriveTime}"></p>

    <h3 class="price">Total Price: £<span th:text="${trip.getTotalPrice()}"></span></h3>
    <a th:href="@{/itinerary(outboundId=${trip.outboundSchedule.scheduleId}, returnId=${trip.returnSchedule.scheduleId})}">View Details</a>
</div>
</body>
</html>