HELP.md

.idea/
*.iws
*.iml
*.ipr

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

target/
!.mvn/wrapper/maven-wrapper.properties   # keep Maven wrapper config
!.mvn/wrapper/maven-wrapper.jar         # keep Maven wrapper
mvnw
mvnw.cmd

.DS_Store
Thumbs.db

*.log

# Database files
Castle-proj/data/castledb.mv.db
Castles/data/castledb.mv.db
Castle-proj/data/castledb.trace.db

*.db
*.trace.db